<div class='col-md-4 col-xs-12 col-lg-3 col-sm-6'>
	<div class='panel  panel-default' >
		<div class='panel-heading'>
			<h3>Input 
				<span class='glyphicon glyphicon-arrow-left' ng-hide='key==0' ng-click='moveUp(key)'></span>
				<span class='glyphicon glyphicon-arrow-right' ng-hide='key==formItems.length-1' ng-click='moveDown(key)'></span>
				<span class='glyphicon glyphicon-chevron-up' style='float:right;'></span>
			<button class='btn btn-danger' ng-click="removeItem(key)" style='float:right;'><span class='glyphicon glyphicon-remove'  ></span> </button>
		</h3>
			
		</div>
		<div class='panel-body'>
			<form>
				<div class='col-md-12'><label >Name</label>
					<input style='float:right;'type='text'  ng-model='value.attributes.name' required ng-minlength='2'>
				</div><br/>
				<div class='col-md-12'><label >Default Value</label>
					<input style='float:right;'type='text'  ng-model='value.attributes.defaultValue'>
				</div><br/>
				<div class='col-md-12'><label >Placeholder</label>
					<input style='float:right;'type='text'   ng-model='value.attributes.placeholder'>
				</div><br/>
				<div class='col-md-12'><label >Min Char</label>
					<input style='float:right;'type='number'  ng-model='value.validations.minChar'>
				</div><br/>
				<div class='col-md-12'><label >Max Char</label>
					<input style='float:right;'type='number'   ng-model='value.validations.maxChar'>
				</div><br/>
				<div class='col-md-12'>
					<label>Required</label>
					<input style='float:right;'type="checkbox" ng-model='value.validations.required'>
				</div><br/>
				<div class="btn-group btn-input clearfix">
					<button type="button" class="btn btn-{{buttonClass||'default'}} dropdown-toggle form-control" data-toggle="dropdown">
						<span data-bind="label">{{buttonClass || 'Select Class'}}</span> <span class="glyphicon glyphicon-cheveron-down"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class='Default'><a href="#"  ng-click="buttonClass='Default';value.attributes.class='Default'">Default</a></li>
						<li class='Primary'><a href="#"  ng-click="buttonClass='Primary';value.attributes.class='Primary'">Primary</a></li>
						<li class='Info'><a href="#"  ng-click="buttonClass='Info';value.attributes.class='Info'">Info</a></li>
						<li class='Success'><a href="#"  ng-click="buttonClass='Success';value.attributes.class='Success'">Success</a></li>
						<li class='Warning'><a href="#"  ng-click="buttonClass='Warning';value.attributes.class='Warning'">Warning</a></li>
						<li class='Danger'><a href="#"  ng-click="buttonClass='Danger';value.attributes.class='Danger'">Danger</a></li>
						<li class='Link'><a href="#" ng-click="buttonClass='Link';value.attributes.class='Link'">Link</a></li>
					</ul>
				</div>
			</div>

		</form>
	</div>
</div>
</div>