
<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
<div class="btn-group btn-input clearfix">
  <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
    <span data-bind="label">Select Type  <span class="glyphicon glyphicon-chevron-down"></span> </span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" ng-click="addFormItem('text')">Text</a></li>
    <li><a href="#" ng-click="addFormItem('number')">Number</a></li>
    <li><a href="#" ng-click="addFormItem('radio')">Radio Buttons</a></li>
    <li><a href="#" ng-click="addFormItem('date')">Date</a></li>
  </ul>
</div>